.card {
    width: 190px;
    height: 254px;
    background: #2a2a2a;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
    border-radius: 10px;
  }
  
  .form {
    padding: 70px;
  }
  
  .card_header {
    display: flex;
    align-items: center;
  }
  
  .card svg {
    color: #ffffff;
    margin-bottom: 40px;
    margin-right: 5px;
  }
  
  .form_heading {
    padding-bottom: 40px;
    font-size: 21px;
    color: #ffffff;
  }
  
  .field {
    padding-bottom: 30px;
  }
  
  .input {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    color: #000000;
    border: 1px solid #dadaf7;
  }
  
  .input:focus-visible {
    outline: 1px solid #000000;
  }
  
  .input::placeholder {
    color: #000000;
  }
  
  label {
    color: #ffffff;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
  }
  
  button {
    background-color: #ffffff;
    margin-top: 10px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: none;
  }
  
  button:hover {
    background-color: #ffffff;
  }

  
  @media (max-width: 767px) {
    .card {
      width: 100%;
      height: auto;
    }
    
    .form {
      padding: 30px;
    }
    
    .card svg {
      margin-bottom: 20px;
    }
    
    .form_heading {
      font-size: 18px;
    }
    
    .input {
      font-size: 14px;
    }
  }
  