
*{
    margin: 0;
    padding: 0;
}
.navbar {
    
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(155, 125, 240);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 6rem;
    
}

.left h1 {
    font-size: 2.0rem;
    cursor: pointer;
    position: relative;
    
    
}
.nav{
    position: relative;
    right: 250px;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
   
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}
.list{
    position: relative;
    left: 15rem;
}